<!DOCTYPE html>
<html>
<head>
<title>Birdies</title>
</head>
<body>

<form name="input" action="/" method="post">
  Bird: <input type="text" name="birds" placeholder="Bird Name">
  <input type="submit" value="Add Bird">
</form>
</body>
</html>